*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
